/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
$font: 'Montserrat',
sans-serif;
body {
    font-family: $font;
    font-weight: 400;
}

html,
body {
    height: 100%
}

h1 {
    font-family: $font;
    font-weight: 600;
}

h2 {
    font-family: $font;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: $font;
    font-weight: 300;
}