/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
$font: 'Montserrat',
sans-serif;

body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-regular {
    font-weight: 400;
}

html,
body {
    height: 100%
}

h1 {
    font-family: $font;
    font-weight: 600;
}

h2 {
    font-family: $font;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: $font;
    font-weight: 300;
}