<div class="loginContainer">
    <h2 id="title">
        SISTEMA DE <br /> PRÉSTAMOS
    </h2>
    <h4 id="subtitle">Bienvenido</h4>
    <div class="card card-box-shadow" id="rent-product-form-container">
        <div class="card-body">
            <!-- <form class="font-weight-light">
        <form>
          <div class="form-group">
            <input
              type="username"
              class="form-control"
              id="username"
              placeholder="Usuario"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
            />
          </div>
        </form>
        <button type="submit" class="btn btn-dark btn-block">INGRESAR</button>
      </form> -->
        </div>
    </div>
</div>