#grid-body-container {
    display: grid;
    // grid-template: auto auto auto / 50% 50%;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "main_label ." 
    "rent_product_form available_products" 
    ". available_products";
    margin: auto;
    grid-gap: 25px 43px;
}

.main-label {
    grid-area: main_label;
    justify-self: start;
}

#available-products-container {
    grid-area: available_products; 
    height: fit-content;
}

#rent-products-container {
    grid-area: rent_products;
}

#rent-product-form-container {
    grid-area: rent_product_form;
}

.btn-dark:hover {
    box-shadow: 0px 6px 6px #888888;
}

h5 {
    margin-bottom: 29px;
}

.card-box-shadow {
    box-shadow: 0px 3px 6px #D6D6D6;
}

th {
    font-weight: 400;
}

input {
    color: black;
}

td:first-letter{
    text-transform: capitalize;
}