<!-- Sidebar -->
<div id="mainContainer">
  <div id="sidebar">
    <h2 id="title">
      SISTEMA DE <br />
      PRÉSTAMOS
    </h2>
    <div class="btn-group-vertical" role="group">
      <button type="button" class="sidebar-item">
        <h3 class="active">Inicio</h3>
      </button>
      <button type="button" class="sidebar-item">
        <h3>Agregar producto</h3>
      </button>
      <button type="button" class="sidebar-item"><h3>Multas</h3></button>
    </div>
  </div>
  <div id="page-content">
      <router-outlet></router-outlet>
  </div>
  <!-- Sidebar end -->
</div>
